@model IEnumerable<FE.Controllers.EvaluationDTO>

<h2>Evaluations</h2>

<table class="table">
    <thead>
        <tr>
            <th>Student id</th>
            <th>Student name</th>
            <th>Grade</th>
            <th>Explanation</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.StudentId</td>
                <td>@item.StudentName</td>
                <td>@item.Grade</td>
                <td>@item.AdditionExplanation</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.EvaluationId })">Edit</a> |
                    <a href="@Url.Action("Delete", new { id = item.EvaluationId })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create")" class="btn btn-primary">Add New Evaluation</a>
